body{
    margin: 0;
    padding: 0;
    color: white;
    background: url('../img/ugly.jpeg');
}

h1{
    text-align: center;
    margin-top: 2%;
}
h4{
    text-align: center;
    margin-top: 2%;
}
img{
    width: 200px;
    display: block;
    margin: auto;
}
.desc{
    width: 100%;
    text-align: center;
}
.desc span{
    font-size: 40px;
    margin-top: 3%;
    display: block;
}
.desc ul{
    list-style-type: none;
}
.desc ul li{
    margin-top: 1%;
}